*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    border: 5px solid red;
}
.blogs{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    /* border: 2px solid black; */
}

.heading h1{
    font-size: 40px;
    color: rgb(3, 197, 3);
}
.heading h3{
    color: #777;
}
/* .cards{
    width: 100%;
    height: 100px;
    /* border: 2px solid green; */

.cards .card{
    height: 400px;
    width: 300px;
    margin: 30px 15px;
    box-shadow: 2px 10px 2px 2px #777;
}
.cards .card img{
    width: inherit;
    height: 200px;

}
.cards .card .tagline{
    font-size: 18px;
    color: black;
    font-weight: bolder;
    margin: 5px 10px;
}
.cards .card .tagline span{
    color: #777;
}
.cards .card .title{
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    margin: 5px 10px;
}
.cards .card .content{
    margin: 5px 10px;
    font-size: 15px;
    color: #191616;
    line-height:  1.4;
}
.cards .card a{
    text-decoration: none;
    padding: 5px 10px ;
    margin: 15px 10px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.cards .card a:hover{
    background-color: rgb(5, 5, 162);
}
